extends ../layout

block content
    div(
        class = "ui container segment"
    )
        h1(
            class = "ui centered header"
        ) Unapproved Crops and Animals
        table(
            class = "ui celled striped sortable table",
            id    = "table"
        )
            tr(
                data-sort-method = 'none'
            )
                th(
                    align = "center"
                ) Name
                th(
                    align = "center"
                ) Type
                th(
                    align = "center"
                ) Actions
            each result in unapproved
                tr()
                    td(
                        style = "text-align:center;"
                    ) #{result.Name}
                    td(
                        style = "text-align:center;"
                    ) #{result.Type}
                    td(
                        style = "text-align:center;"
                    )
                        form(
                            action = '/admin/items_approved',
                            class  = 'ui form error',
                            method = 'post'
                        )
                            input(
                                type  = 'hidden',
                                name  = 'username',
                                value = result.Name
                            )
                            input(
                                type    = 'submit',
                                value   = 'Delete Farm Item',
                                class   = 'ui red button',
                                onclick = "return confirm('Are you sure? This will delete the item.')"
                            )
                        br()
                        form(
                            action = '/admin/items_unapproved/approve',
                            method = 'post'
                        )
                            input(
                                type  = 'hidden',
                                name  = 'name',
                                value = result.Name
                            )
                            input(
                                type    = 'submit',
                                value   = 'Approve Item',
                                class   = 'ui green button',
                                onclick = "return confirm('Are you sure? This will approve the item.')"
                            )
        a(
            class = "ui red fluid button",
            href  = "/admin"
        ) Back
