extends layout

block content
    div(
        class = "ui container segment"
    )
        h1(
            class = "ui centered header"
        ) Welcome #{session.user_name}
        div(
            class = "ui internally celled grid"
        )
            div(
                class = "row"
            )
                a(
                    class = "ui primary fluid button",
                    href = "/admin/visitors"
                ) View Visitors List
            br()
            div(
                class = "row"
            )
                a(
                    class = "ui primary fluid button",
                    href = "/admin/owners"
                ) View Owners List
            br()
            div(
                class = "row"
            )
                a(
                    class = "ui primary fluid button",
                    href = "/admin/confirmed"
                ) View Confirmed Properties
            br()
            div(
                class = "row"
            )
                a(
                    class = "ui primary fluid button",
                    href = "/admin/unconfirmed"
                ) View Unconfirmed Properties
            br()
            div(
                class = "row"
            )
                a(
                    class = "ui primary fluid button",
                    href = "/admin/items_approved"
                ) View Approved Animals and Crops
            br()
            div(
                class = "row"
            )
                a(
                    class = "ui primary fluid button",
                    href = "/admin/items_unapproved"
                ) View Pending Animals and Crops
            br()
            div(
                class = "row"
            )
                a(
                    class = "ui red fluid button",
                    href = "/logout"
                ) Log Out
