extends layout

block content
    div(class="ui container segment")
        h1(
            class="ui center aligned header"
        )='You are not logged in.'
        h3(
            class="ui center aligned header"
        )='Please sign in to continue'
        a(
            href='/login',
            class='ui fluid primary button'
        )='Login Here'

